.singleImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.singleImageContainer * {
  pointer-events: all;
}

.singleImage {
  border-radius: 20px;
  width: 500px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 20px;
}
